RewriteEngine On

# Reescribe la URL para que 'localhost/Habitos' apunte a 'index.php?route=Habitos'
RewriteRule ^Habitos/?$ index.php?route=Habitos [QSA,L]

# Reescribe la URL para que 'localhost/archivo' apunte a 'archivo.html'
RewriteRule ^archivo/?$ archivo.html [QSA,L]
