body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9c9de4cc; /* Color de fondo lila */
    color: #333; 
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    transform: scale(0.1); /* Ajusta el tamaño del logo */
    
  }
  
  .buttons {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
  }
  
  button {
    background-color: #9395ed; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
  }
  
  button:hover {
    background-color: #6c6de3; /* Color de fondo del botón al pasar el mouse */
  }