body {
    font-family: "Open Sans", Helvetica, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container { 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px; 
    text-align: center;
}

h1 { 
    margin-bottom: 20px;
    text-align: center; 
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: "Open Sans", Helvetica, sans-serif;
}

input, 
select, 
textarea { 
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #7e7fe8;;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(90deg, #9395ed 0%, #6c6de3 100%);
}

.delete-button {
  background-color: #dc3545; 
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #8587d6;
    color: white;
    position: fixed; /* Añadido */
    top: 0; /* Posición desde arriba */
    left: 0; /* Posición desde la izquierda */
    width: 100%; /* Ancho del header */
    z-index: 100; /* Asegurar que el header esté encima del contenido */
  }
    header nav button {
    background-color: #cca3f3cb;
    color: rgb(151, 120, 221);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 45%;
  }
.aside {
    grid-area: aside;
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    justify-content: center;
    font-size: 1.5rem;
    color: #bbbbca;
    background-color: #fcfdfd;
    margin-top: 9rem; /* Ajusta el margen superior */
}
html {
    font-size: 12px;
  }
  
  body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #0c0a3d;
  }
  
  input {
    font-family: "Open Sans", Helvetica, sans-serif;
  }