<!DOCTYPE html>
<html>
<head>
  <title>Grupo de Apoyo</title>
  <link rel="stylesheet" href="../../../Public/ccs/Grupos.css"> 
</head>
<body>
  <div class="container">
    <h1>Grupo de Apoyo</h1>

    <label for="tipoGrupo">Selecciona el tipo de grupo:</label>
    <select id="tipoGrupo">
      <option value="1">Sueño</option>
      <option value="2">Alimentación</option>
      <option value="3">Ejercicio</option>
      <option value="4">Estudio</option>
      <option value="5">Recreación</option>
      <option value="6">Trabajo</option>
      <option value="7">Trabajos del Hogar</option>
      <option value="8">Cuidado Personal</option>
      <option value="9">Social</option>
      <option value="10">Finanzas</option>
    </select>

    <div id="comentariosGrupo">
      <!-- Aquí se cargarán los comentarios del grupo seleccionado -->
    </div>

    <h2>Agregar Comentario</h2>
    <form id="commentForm">
      <textarea name="comentario" id="comentario" rows="4" cols="50" required></textarea><br><br>
      <button type="submit">Publicar</button>
    </form>
  </div>

  <script src="../../../Public/js/Grupos.js"></script>
</body>
</html>