<!DOCTYPE html>
<html>
<head>
    <title>Lista de Hábitos</title>
    <link rel="stylesheet" href="../../../Public/ccs/habitos.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="top">
        <div class="upcoming-appointments card">
            <div class="card-header">
                <h1>Mis Hábitos</h1>
            </div>
            <div class="habitos-container" id="listaHabitos">
                <!-- Los hábitos se cargarán aquí dinámicamente -->
            </div>
            <div id="contenidoDinamico"></div>
        </div>
    </div>

    <script src="../../../Public/js/habitos.js"></script>
</body>
</html>
